<% layout('./layouts/boilerplate') %>

<!-- Funcion para reducir un array de letas -->

<div class="row offset-md-1">
  <% for(let arr of data){ %>

  <div class="card text-center col-2" style="width: 18rem" id="carta">
    <% if(arr.url_image){%>
    <img
      class="card-img-top"
      src="<%= arr.url_image%>"
      alt="Card image cap"
      id="imgs"
    />
    <%}else{ %>
    <img
      class="card-img-top"
      src="https://www.yeaah.co/wp-content/uploads/2021/08/producto-sin-imagen.jpg"
      alt="Card image cap"
      id="imgs"
    />
    <% } %>
    <div>
      <h5 class="card-title">
        <b> <%= arr.name %> </b>
      </h5>
    </div>

    <b> $<%= arr.price %> </b>

    <div>
      <a href="#" class="btn btn-info" id="btnComprar">Comprar</a>
    </div>
  </div>

  <% } %>
</div>
