<footer class="footer py-3 mt-auto footer-expand-lg">
  <div class="row mt-5 mb-5">
    <div class="col-lg-6 d-flex justify-content-end">
      <img
        src="https://res.cloudinary.com/dk77zubhw/image/upload/v1641926253/samples/Sin_t%C3%ADtulo-5_hfrq5n.png"
        id="imgLogo"
      />
    </div>

    <div class="col-lg-6">
      <div id="prueba15">
        <ul>
          <li id="contacto"><span id="prueba9">Contacto</span></li>
          <ul>
            <li id="prueba12">
              <span
                ><img
                  src="https://res.cloudinary.com/dk77zubhw/image/upload/v1642119847/Logo/Recurso_3_ffoi2t.png"
                  alt=""
              /></span>
              <span id="prueba10">+569 91652078</span>
            </li>
            <li id="prueba12">
              <span
                ><img
                  src="https://res.cloudinary.com/dk77zubhw/image/upload/v1642119847/Logo/Recurso_2_m7nubr.png"
                  alt=""
              /></span>
              <span id="prueba10">jgazmuri@corredoradesegurosgazmuri.cl</span>
            </li>
            <li id="prueba12">
              <span
                ><img
                  src="https://res.cloudinary.com/dk77zubhw/image/upload/v1642119847/Logo/Recurso_1_hpnxtc.png"
                  alt=""
              /></span>
              <span id="prueba11">Viña del Mar</span>
            </li>
            <li id="prueba12">
              <span
                ><img
                  src="https://res.cloudinary.com/dk77zubhw/image/upload/v1642120659/Logo/Recurso_6_obs2gp.png"
                  id="iconSocial"
                  alt=""
              /></span>
              <span id="prueba1"
                ><img
                  src="https://res.cloudinary.com/dk77zubhw/image/upload/v1642120659/Logo/Recurso_5_cbb5de.png"
                  id="iconSocial"
                  alt=""
              /></span>
            </li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</footer>
